/* styles.css */

/* Set background color for the AnchorPane */
.root {
    -fx-background-color: #0c0a09; /* A soft light green background */
}

/* Welcome message styling */
.welcome-message {
    -fx-fill: #4caf50; /* Medium green */
    -fx-font-style: italic;
    -fx-text-alignment: center;
}

/* Button styling */
.menu-button {
    -fx-background-color: #4caf50; /* Green for button */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #43a047; /* Slightly darker green on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 1);
}

.typing-text {
    -fx-font-size: 18px; /* Increased font size */
    -fx-text-fill: #f0f0f0; /* Light grey text color */
}

.example-text-container {
    -fx-background-color: #2e2e2e; /* Dark grey background */
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.action-button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
}

.result-text {
    -fx-font-size: 18px;
    -fx-text-fill: #4CAF50;
    -fx-font-weight: bold;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .main-title {
        -fx-font-size: 18px;
    }
    .menu-button {
        -fx-font-size: 14px;
    }
    .header-text {
        -fx-font-size: 18px;
    }
    .typing-text {
        -fx-font-size: 14px;
    }
    .action-button {
        -fx-font-size: 12px;
        -fx-padding: 8 16;
    }
}