/* styles.css */

/* Set background color for the AnchorPane */
.root {
    -fx-background-color: #0c0a09; /* A soft light green background */
}

/* Main title styling */
.main-title {
    -fx-fill: #2e7d32; /* Dark green for title */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 1);
    -fx-text-alignment: center;
}


/* Welcome message styling */
.welcome-message {
    -fx-fill: #4caf50; /* Medium green */
    -fx-font-style: italic;
    -fx-text-alignment: center;
}

/* Button styling */
.menu-button {
    -fx-background-color: #4caf50; /* Green for button */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #43a047; /* Slightly darker green on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 1);
}



/* GitHub icon hover effect */
#githubIcon {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

#githubIcon:hover {
    -fx-opacity: 1.0;
}



